
.whatsapp_button{
    background-color: #0B6263;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 350px;
    min-width: 300px;
    display: flex;
    transition: 700ms;
    justify-content: center;
    text-decoration: none;
}

.whatsapp_button .center{
    padding: 1rem;
    display: flex;
    align-items: center;    
    flex-direction: row;
    gap: 10px;
}

.center p{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #ffff;
    letter-spacing: 2px;
}

.whatsapp_button:hover{
    background-color: transparent;
    outline: 3px solid #fff;
}

.whatsapp_button:hover p{
    text-decoration: underline;
}

@media screen and (max-width: 430px) {
    .whatsapp_button{
        width: 250px;
        min-width: 0px;
    }
}

@media screen and (max-width: 375px){
    .whatsapp_button{
        width: 180px;
    }
}

@media screen and (max-width: 320px){
    .whatsapp_button{
        width: 150px;
    }
    .whatsapp_button .center p{
        font-size: 12px;
    }
}