.create_component{
    height: 100%;
    width: 100%;
    margin-top: 2px;
}
.card_two{
    margin-top: 1px;
    display: flex;
}

.title{
    width: 100%;
    height: 300px;
}
.title textarea{
    width: 100%;
    min-height: 300px;
    background-color: rgb(244, 244, 245);
    font-size: 28px;
    font-weight: 700;
    color: rgb(33, 33, 33, .8);
    text-align: center;
    border: 1px solid lightgray;
    outline: 0;
    resize: none;
}

.title textarea::placeholder{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    line-height: 48px;
}

.picture_card{
    width: 100%;
    height: 300px;
    border: 1px solid lightgray;
}

.button_card{
    margin: 20px 0;
}

.button_card button{
    width: 100%;
    background-color: #25d1ac;
    padding: 15px;
    color: #ffff;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

.button_card button:hover{
    opacity: .8;
}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(75, 72, 72, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

@media screen and (max-width: 650px){

    .card_two{
        display: block;
    }

    .create_component{
        flex-direction: column;
    }

}   