.navbar{
    height: 82px;
    width: 100%;
    background-color: #141414;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;;
    font-style: normal;
    font-weight: 400px;
    color: #f8f5f2;
    font-size: 18px;
    line-height: 2px;
    position: fixed;
    z-index: 2000;
    top: 0;
}

.logo{
    margin: 0 40px;
}

.navs ul{
    display: flex;
    gap: 1rem;
    padding: 0;
    list-style: none;
}

.navs ul li a{
    color: #f8f5f2;
    text-decoration: none;
    position: relative;
} 
.navs ul li a:hover{
    text-decoration: underline;
} 

.responsive_button{
    display: none;
}

.contact_nav a{
    background-color: #0883AB;
    border-radius: 24px;
    padding: 7px 14px;
    border: 2px solid #0883AB;
    transition: 500ms;
    box-shadow: 3px 3px 1px #cccccc94;
}

.contact_nav a:hover{
    background-color: #0882ab7a;
}

/* navs responsive component */
.responsive_menu{
    position: absolute;
    top: 82px;
    background-color: #0c0c0c;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.responsive_menu ul{
    border-radius: 3px;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: #FFFFFF;
}
.responsive_menu ul a{
    padding: 0 2rem;
    height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
    font-size: 18px;
    line-height: 2px;
    color: gray;
}
.responsive_menu ul a:hover{
    background-color: #55595C;
    color: #fff;
}

@media screen and (max-width: 1030px){

    .navs{
        display: none;
    }

    .responsive_button{
        display: block;
    }

}